* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

body {
	background-color: #ccc;
	font-family: "Didact Gothic", sans-serif;
	font-size: 20px;
}

a { 
}

a:visited {	
	color:inherit;
}

p, ul {
    line-height: 1.5em;
    font-size: 1em;
    list-style-type: circle;
    text-align: center;
}

.wrapper {
	background-color: #FFF;
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
}

header {
	background-color: #FFF;
}

/*nav {
	text-align: center;
}*/

nav a {
	text-decoration: none;
	display: block;
	padding: 0 .65em;
}

nav a:hover {
	font-weight: 600;
}

#top {
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 50px;
	position: fixed;
}
/* brand drop down*/

#brandnavigation {
	background-color: #fff;
    color: #000;
    float:left;
    list-style: none;
    position:relative;
    height: 50px;
    width: 27%;
}

.topbrand {
	color: #000;
}

#otherbrands {
	display:none;
	width: 100%;
	list-style: none;
	position: absolute;
	top: 50px;
	background-color: #f8f8f8;
    color: #000;
}

#ahc_logo {
	border-bottom: 1px solid #ccc;
}

#brandnavigation::after {
	transform: rotate(45deg);
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 12px;
    top: 19px;
    width: 8px;
}

#brandnavigation:hover ul#otherbrands {
    display: block;
}

.navtop {
	color: #000;
	padding: .5em 0;
}

#logo {
	width: 256px;
	margin: .65em 0;
}

/* Main Navigation*/

#main_nav {
	background-color: #000;
    color: #fff;
    float: left;
    width: 63%;
    border: 1 solid black;
}


/* Browse Drop Down Navigation*/

.browse_menu .resources_menut{
	position:relative;
}

.drop_down_menu {
	display:none;
	width: 20%;
	list-style: none;
	position: absolute;
	top: 50px;
    text-decoration: none;
}

.main_drop_down {
	color: #fff;
	padding: .5em 0;
}


.main_drop_down {
	border-bottom: 1px solid #ccc;
}

/*a.dropdown:hover {
	color: #000;
	background-color: white;
}
*/
.browse_menu:hover .drop_down_menu {
    display: block;
    color: #000;
	background-color: white;
}

.browse_menu:hover #browse {
    background-color: #fff;
    color: #000;
}

/* resources drop down*/


.dropbtn {
    display: block;
    color: #fff;
    text-align: left;
    padding: .6em;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
    color: #000;
}

.dropdown {
    display: block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: .6em;
    text-decoration: none;
    border-bottom: 1px #ccc solid;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* kids drop down*/

#kids {
	background-color: #9696ca;
}

#teens {
	background-color: #169bbf;
}

.dropdown:hover #kids {
    background-color: #fff;
    color: #000;
}

.dropdown:hover #teens {
    background-color: #fff;
    color: #000;
}

#language_nav {
	display: block;
	float: right;
	font-style: italic;
	list-style: none;
	color: #fff;
	font-size: .75em;
	padding: 1em 1em 0 0;
}

#location_icon {
	width: 4%;
	padding: .3em;
	display: block;
	float: left;
}

#search {
	width: 50px;
    margin: 0 auto;
    display: block;
    float: left;
	padding: .5em;
	background-image: url(../images/magnify_white.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-origin:content-box;
}

#magnify_icon {
	 content: '';
}

#location_icon:hover {

}

#magnify_icon:hover {

}

/* Sign In dropdown*/
.signinbtn {
    display: block;
    background-color: #a93338;
    color: #fff;
    padding: .6em;
    text-decoration: none;
}

signin:hover .signinbtn {
    background-color: #fff;
    color: #000;
}

#signin {
    display: block;
    float: right;
    width: 10%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: .6em;
    text-decoration: none;
    border-bottom: 1px #ccc solid;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

#signin:hover .dropdown-content {
    display: block;
    left:auto;
    right:0;
}

#signin:hover #signin_hover {
    background-color: #fff;
    color: #000;
}

/*#signin {
	background-color: #a93338;
	padding: .5em 0;
	width: 10%;
	list-style: none;
	display: block;
	float:right;
	height: 50px;

}*/

#signin::after {
	transform: rotate(45deg);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 12px;
    top: 19px;
    width: 8px;
}



#mobile {
	display: none;
}

/*a.dropdown {
	color: #fff;
	float: left;
	padding: .6em;
}
*/


section#alert {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

#main {
	width: 100%;
}



#hero {
	color: #FFF;
	font-size: 3em;
	text-align: center;
	font-family: "Arvo", serif;
} 

#main_homepage_container {
	height: 88.25vh;
	width: 100%;
	display: table;
	padding: 50px 0 0 0;
}

#main_hompage_image {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	background-image: url("../images/kids_muse_southeast_small.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#slogan_container {
	margin: 0 auto;
	width: 100%;
	max-width: 550px;
	line-height: 1.2em;
}

p#slogan {
	font-weight: 700;
	font-style: italic;
	text-align: center;
	font-size: 1em;
	letter-spacing: .1em;
	color: #fff;
	padding: .5em;

}

section#showcase {
	width: 100%;
}	

a.service_buttons {
/*	background-image: url("../images/kid.jpg");
	background-repeat: no-repeat;
	background-size: 100%;*/
	background-color: #000;
    outline: 1px #fff solid;
    float: left;
    width: 25%;
    color: #fff;
    padding: 7em 1em 1em;
    text-align: center;
    text-decoration: none;
}


/*section#books {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

article.blogpost {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}*/

section#media {
	width: 100%;
}	

img.media_icon {
	width: 20%;
}
p.media_text {
	clear: both;
	width: 100%;
	padding: 5px;
}

div.media_buttons {
    background-color: #fff;
    padding: 4em 0 1em 0;
    float: left;
    width: 20%;
    text-align: center;
    font-size: .75em;
    color: #000;
}


/*section#newsletter {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}*/


footer { 
	width: 100%;
	background-color: #56565a;
    padding: .5em;
    color: #fff;
}

nav#footer {
	margin: 0 auto;
	max-width: 960px;
}

a.navfooter {
	color: #fff;
}

@media screen and (max-width: 1120px) {
	#mobile {
		text-align: left; 
		float: left;
		background-color: #000;
		display: block;
		color: #fff;
		padding: .5em .5em .5em .5em;
	}

	.dropdown {
		float: left;
		width: 100%;
		padding: .75em 2em;
		border-bottom: 1px #ccc solid;
		text-align: center;
		display: none;
		font-size: .8em;
	}

	#main_nav {
    	width: 150px;
	}

	#signin {
    	width: 120px;
	}

	#brandnavigation {
    	width: 300px;
	}

	#mobile:hover a.dropdown {
		display: block;
	
	}

	.dropdown.active { display: block; }
}

@media screen and (max-width: 670px) {
	body {
		font-size: 15px;
	}

	#signin {
    	display:none;
	}

	#brandnavigation {
    	width: 250px;
	}

	#logo { 
		width: 215px;
		padding: .5em .5em 0 .5em;
	}

	.dropdown {
		float: left;
		width: 100%;
		padding: .75em 2em;
		border-bottom: 1px #ccc solid;
		text-align: center;
		display: none;
		font-size: .8em;
	}

	#main {
		padding: 0;

	}

	#slogan_container {
		max-width: 300px;
	}

	h1#hero {
		font-size: 1.5em;
	}

	p#slogan {
		font-size: .69em;

	}

	nav:hover a.dropdown {
		display: block;
	
	}

	a.service_buttons {
    	width: 50%;
	}


	#main_hompage_image {
		padding: 3.5em;
	}


	div.media_buttons {
   		padding: 3em 0 .5em 0;
    	float: left;
   		width: 33.3333%;
    	font-size: .75em;
	}

	.wrapper {
		min-width: 330px;
	}
}
