body {
	background-color: #9896FF;
	font-family: "Futura", "Century Gothic", Sans-Serif;
}
	

h1 {
	color: #FFF;
	text-align: center;
} 

a, p, ul {
	color: #FFF;
	text-align: center;
    list-style-type: none;
}

p#slogan {
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

div.value_prop {
		background-image: url("kids_muse_southeast_small.jpg");
}