body {
	background-color: #f2795c;
	font-family: "Futura", "Century Gothic", Sans-Serif;
	 
}
	

h1 {
	color: #FFF;
	text-align: center;
} 

div.main_hompage_image {
	background-image: url("../images/kids_muse_southeast_small.jpg"); 
	background-repeat: no-repeat;
	max-width: 100%;
	height: 90%;
	padding: 25%;
}

a, p, ul {
	color: #FFF;
	text-align: center;
    list-style-type: none;
}

p#slogan {
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
